@page "/orders"
@rendermode InteractiveServer
@inject HttpClient http
<h3>OrderList</h3>

<table class="table">
    <thead>
        <tr>
            <th>CustomerName</th>
            <th>ProductId</th>
            <th>Quantity</th>
            <th>OrderDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Orders)
        {
            <tr>
                <th>@order.CustomerName</th>
                <th>@order.ProductId</th>
                <th>@order.Quantity</th>
                <th>@order.OrderDate</th>
            </tr>
        }    
    </tbody>
</table>

@code {
    private List<OrderModel> Orders = new List<OrderModel>();

    protected override async Task OnInitializedAsync()
    {
        Orders = await http.GetFromJsonAsync<List<OrderModel>>("https://localhost:7233/api/order");
        await base.OnInitializedAsync();
    }
}
